<!DOCTYPE html>
{{ partial "html_open.html" . }}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if eq .RelPermalink "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}
    <meta name="twitter:card" content="summary">
    {{ if eq .RelPermalink "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else }}
      {{ with (trim (partial "summary.html" .) "\n ") }}
      <meta property="description" content="{{- . -}}">
      <meta property="og:description" content="{{- . -}}">
      {{ end }}
    {{ end }}

    {{ $autoImage := false }}
    {{ range (findRE "<img src=\"https?://[^\"]+" .Content 1) }}
    {{ $autoImage = true }}
    <meta name="twitter:image" content="{{ replaceRE "<img src=\"" "" . | htmlUnescape }}">
    {{ end }}
    {{ with .Site.Params.twitterImage }}
    {{ if not $autoImage }}
    <meta name="twitter:image" content="{{ absURL . }}">
    {{ end }}
    {{ end }}

    {{ if .Keywords }}
    <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
    {{ end }}

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
    {{ end }}

    {{ range (slice "style" "fonts" "custom") }}
    <link rel="stylesheet" href="{{ printf "css/%s.css" . | relURL }}">
    {{ end }}
    {{ partial "head_custom.html" . }}
  </head>

  {{ $section := (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
  {{ if eq $section "/" }}{{ $section = "" }}{{ end }}
  {{ $.Scratch.Set "section" $section }}
  <body class="{{ if .IsPage }}single{{ end }}{{ with $section }} {{ . }}{{ end }}{{ with .Params.page_class }} {{ . }}{{ end }}">
    <div class="crop-h"></div><div class="crop-v"></div><div class="crop-c"></div>
    <nav class="nav-top small">
    <div class="logo">
    {{ with default .Site.Params.logo.en (index .Site.Params.logo $section) }}
      <a href="{{ relURL .url }}">
      {{ if .img }}
      <img src="{{ relURL .img }}" alt="{{ .alt }}" />
      {{ else }}
      {{ .alt }}
      {{ end }}
      </a>
    {{ end }}
    </div>
    <div class="menu">
      {{- $active := "" -}}
      {{- $menu := (default .Site.Menus.main (index .Site.Menus $section)) -}}
      {{- range $menu -}}
      {{- if and (hasPrefix $.Page.RelPermalink (relURL .URL)) (gt (len .URL) (len $active)) -}}
      {{- $active = .URL -}}
      {{- end -}}
      {{- end -}}
      {{ range $menu }}
      {{- $mclass := or .Params.class slice -}}
      {{- if eq $active .URL -}}
      {{- $mclass = append (slice "active") $mclass -}}
      {{- end -}}
      {{- $mclass = delimit $mclass " " -}}
      <span{{ with $mclass }} class="{{ . }}"{{ end }}><a href="{{ relURL .URL }}">{{ .Name }}</a></span>
      {{ end }}
    </div>
    </nav>
